<%- include('partials/header') %>

<div class="requests-container">
  <h2><%= (user.role == "сотрудник") ? 'Отклики' : 'Мои отклики' %></h2>
  
  <% if (responses.length === 0) { %>
    <p style="font-size: 35px; margin-left: 50px;">Нет откликов для отображения</p>
  <% } else { %>
    <div id="current-user" 
      data-user-id="<%= user.id %>"
      data-user-role="<%= user.role %>" 
      style="display: none;">
    </div>
  <div class="requests-list">
    <% responses.forEach(response => { %>
      <div class="response-card" data-id="<%= response.id %>" data-id="<%= response.id %>" data-location="<%= response.Item.location %>" data-category="<%= response.Item.category %>" data-description="<%= response.Item.description %>">
        <div class="request-content">
          <div class="request-image">
            <% if (response.Item.photo_path) { %>
              <img src="/uploads/<%= response.Item.photo_path %>" alt="<%= response.Item.title %>">
            <% } else { %>
              <div class="no-image">Нет фото</div>
            <% } %>
          </div>
          
          <div class="request-info">
            <p style="font-size: 20px; font-weight: bold;"><%= response.Item.title %></p>
            <p class="request-status <%= response.status %>" style="font-size: 16px; font-weight: bold;"> Статус: <%= response.status %></p>
            <p style="font-size: 18px;"><b>Город:</b> <%= response.Item.city %></p>
            <p style="font-size: 18px;"><b>Дата:</b> <%= new Date(response.Item.date).toLocaleDateString('ru-RU') %></p>
          </div>
        </div>
        
        <% if (user.role == "пользователь") {%>
        <div class="request-actions">
          <button class="edit-response-btn" data-id="<%= response.id %>">Редактировать</button>
          <button class="delete-response-btn" data-id="<%= response.id %>">Удалить</button>
        </div>
        <% } else {%>
          <div class="request-actions">
            <button class="empl-rev" data-id="<%= response.id %>">Рассмотреть</button>
            <button class="empl-app" data-id="<%= response.id %>">Одобрить</button>
            <button class="empl-rej" data-id="<%= response.id %>">Отклонить</button>
          </div>
        <% } %>
      </div>
    <% }); %>
  </div>
</div>

<div id="response-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal-grid">
        <div class="modal-image-container">
          <img id="modal-image" src="" alt="Фото предмета" class="modal-photo">
        </div>
        <div class="modal-info">
          <h2 id="modal-title"></h2>
          <p><strong>Город:</strong> <span id="modal-city"></span></p>
          <p><strong>Место:</strong> <span id="modal-location"></span></p>
          <p><strong>Дата:</strong> <span id="modal-date"></span></p>
          <p><strong>Категория:</strong> <span id="modal-category"></span></p>
          <p><strong>Описание:</strong> <span id="modal-description"></span></p>
          
          <div class="user-section">
            <% if (user.role === "сотрудник" || user.role === "администратор") { %>
              <p class="proof" style="margin-bottom: 0px;">Информация пользователя:</p>
            <% } else { %>
              <p class="proof" style="margin-bottom: 0px;">Моя информация:</p>
            <% } %>
            <div id="modal-proof-text" style="font-size: 14px;"></div>
            
            <p class="proof" style="margin-bottom: 0px;">Прикрепленный файл:</p>
            <div id="modal-files-list" style="font-size: 14px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>



<%- include('partials/footer') %>